.section {
  h1 {
    margin: 32px auto;
    text-align: center;
  }
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1600px;
  gap: 8px;
  padding: 0 8px;
}

.galleryImage {
  border-radius: 8px;
  max-width: 292px;
  width: 100%;
  height: 240px;
  cursor: pointer;
  position: relative;
  object-fit: cover;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 600px) {
    width: 30%;
    height: 120px;
  }

  @media (max-width: 400px) {
    width: 48%;
  }
}

.videosContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px;
  padding-bottom: 80px;

  .video {
    width: 480px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    iframe {
      width: 100%;
      height: 342px;
      border-radius: 8px;

      @media (max-width: 400px) {
        height: 180px;
      }
    }

    legend {
      margin-top: 16px;
      font-size: 16px;
      @media (max-width: 400px) {
        font-size: 14px;
      }
    }
  }
}
