.section {
  h1 {
    margin: 32px auto;
    text-align: center;
  }
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 8px;
}

.galleryImage {
  border-radius: 8px;
  max-width: 292px;
  width: 100%;
  height: auto;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.8;
  }


  @media (max-width: 600px) {
    width: 40%;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}

.videosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 80px;

  iframe {
    width: 100%;
    max-width: 572px;
    height: 342px;
    border-radius: 8px;
  }
}