.header {
  display: flex;
  align-items: center;
  background-color: #0C112E;
  height: 72px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

.active {
  font-weight: 600;
  position: relative;

  &::after {
    content: "";
    width: 44px;
    height: 2px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #F8D771;
  }
}