.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  h1 {
    margin: 40px 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 3500px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;

  @media (max-width: 1120px) {
    max-height: initial;
  }
}

.cards_international {
  max-height: 2200px;

  @media (max-width: 1120px) {
    max-height: initial;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 530px;
  border: 1px solid #d0d0d0;
  padding: 16px;
  border-radius: 8px;
  gap: 24px;

  p {
    line-height: 24px;

    @media (max-width: 600px) {
      line-height: 20px;
    }
  }
}

.link {
  color: hsla(234, 100%, 67%, 1);
  font-weight: 600;
}