.section {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.cbvLetter {
  background-color: #f9f9f9;
  padding: 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;

  @media (max-width: 1200px) {
    padding: 40px 24px;
  }
}

.plaques {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eee;
  padding: 16px;
  gap: 24px;

  @media (max-width: 1200px) {
    padding: 24px;
    flex-direction: row;
    overflow-x: auto;
  }

  legend {
    p {
      font-size: 14px;
      text-align: center;
    }
  }
}

.plaque {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;

  @media (max-width: 1200px) {
    width: 160px;
  }
}

.plaqueWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.letterFooter {
  display: flex;
  justify-content: space-between;

  img {
    height: 100%;
    width: auto;
    mix-blend-mode: multiply;

    @media (max-width: 1200px) {
      max-width: 50%;
    }
  }
}
