.title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  color: #0C112E;
}

.title_secondary {
  color: white;
}

.large {
  font-size: 56px;

  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.medium {
  font-size: 40px;

  @media (max-width: 1000px) {
    font-size: 32px;
  }
}

.small {
  font-size: 32px;

  @media (max-width: 1000px) {
    font-size: 24px;
  }
}

.xsmall {
  font-size: 24px;

  @media (max-width: 1000px) {
    font-size: 16px;
  }
}