.title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  color: #0C112E;
}

.title_secondary {
  color: white;
}

.large {
  font-size: 56px;
}

.medium {
  font-size: 40px;
}

.small {
  font-size: 32px;
}

.xsmall {
  font-size: 24px;
}